<h1>User #<%= @user.id %></h1>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Password digest:</b>
  <%= @user.password_digest %>
</p>

<p>
  <b>Facebook access token:</b>
  <%= @user.facebook_access_token %>
</p>

<p>
  <b>Facebook:</b>
  <%= @user.facebook_id %>
</p>

<% @posts.each do |post| %>
  <ul class="media-list">
    <li class="media">
      <div class="pull-left">
        <%= image_tag "https://graph.facebook.com/#{post['from']['id']}/picture" %>
      </div>
      <div class="media-body">
        <h2 class="media-heading">
        <%= post['from']['name'] %>
        </h2>
        <p class="lead"><%= post['message'] %></p>
        <% parsed_url = URI.parse(post['link']) %>
        <% if parsed_url.host.include?('youtube') %>
        <% query_params = Rack::Utils.parse_query(parsed_url.query) %>
        <iframe width="420" height="315" src="//www.youtube.com/embed/<%= query_params['v'] %>" frameborder='0'allowfullscreen></iframe>
        <% else %>
        <%= link_to 'Click To Watch', post['link'], target: '_blank' %>
        <% end %>

      </li>
  </ul>
   </div>
  <% end %>





